@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --gradient-btn: linear-gradient(to right, #8000ff, #fa6108);
    --gradient-btn-hover: linear-gradient(to right, #7600eb, #ec5803);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2d014e;
    height: 100vh;
    font-family: 'Arial', sans-serif;

}